language: bash

env:
  global:
  - IMAGE_NAME=${DOCKER_USERNAME}/spark
  - JAVA_VERSION=8

matrix:
  include:
  - services: docker
    env:
    - SPARK_VERSION=2.4.0
  - services: docker
    env:
    - SPARK_VERSION=2.3.2
  - services: docker
    env:
    - SPARK_VERSION=2.3.1
  - services: docker
    env:
    - SPARK_VERSION=2.3.0
  - services: docker
    env:
    - SPARK_VERSION=2.2.2
  - services: docker
    env:
    - SPARK_VERSION=2.2.1
  - services: docker
    env:
    - SPARK_VERSION=2.2.0
  - services: docker
    env:
    - SPARK_VERSION=2.1.3
  - services: docker
    env:
    - SPARK_VERSION=2.1.2
  - services: docker
    env:
    - SPARK_VERSION=2.1.1
  - services: docker
    env:
    - SPARK_VERSION=2.1.0
  - services: docker
    env:
    - SPARK_VERSION=2.0.2
  
before_script:
- docker login -u="${DOCKER_USERNAME}" -p="${DOCKER_PASSWORD}"

script:
- TAG_NAME="${SPARK_VERSION}_java-${JAVA_VERSION}"
- FULL_IMAGE_NAME="${IMAGE_NAME}:${TAG_NAME}"
- |
  docker build . \
    --build-arg SPARK_VERSION="${SPARK_VERSION}" \
    -t ${FULL_IMAGE_NAME}

after_success:
- |
  docker run --rm ${FULL_IMAGE_NAME} \
    spark-submit --version
- |  
  if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    docker push ${FULL_IMAGE_NAME};
  fi

branches:
  only:
  - master
