language: bash

# Free Travis gives max 5 concurrent builds
env:
  global:
  - IMAGE_NAME=${DOCKER_USERNAME}/spark
  - HADOOP_MAJMIN_VERSION=2.7
  - JAVA_MAJOR_VERSION=8
  - N=5

# Spark version is derived at runtime dynamically
matrix:
  include:
  # Debian builds
  - services: docker
    env:
    - DIST=debian
    - IDX=1
  - services: docker
    env:
    - DIST=debian
    - IDX=2
  - services: docker
    env:
    - DIST=debian
    - IDX=3
  - services: docker
    env:
    - DIST=debian
    - IDX=4
  - services: docker
    env:
    - DIST=debian
    - IDX=0
  # Alpine builds
  - services: docker
    env:
    - DIST=alpine
    - IDX=1
  - services: docker
    env:
    - DIST=alpine
    - IDX=2
  - services: docker
    env:
    - DIST=alpine
    - IDX=3
  - services: docker
    env:
    - DIST=alpine
    - IDX=4
  - services: docker
    env:
    - DIST=alpine
    - IDX=0
  
before_script:
- docker login -u="${DOCKER_USERNAME}" -p="${DOCKER_PASSWORD}"

script:
# Define static tags for referencing
- REF_TAG="ref"
- REF_IMAGE="${IMAGE_NAME}:${REF_TAG}"
- JAVA_MAJOR_TAG="java-${JAVA_MAJOR_VERSION}"
- DIST_TAG="${DIST}"

# Get latest set of Spark versions to build concurrently
- |-
  SPARK_VERSIONS_RAW=$(
    curl -s https://archive.apache.org/dist/spark/ |
    grep -oE 'spark-[2]\.[[:digit:]]+\.[[:digit:]]/' |
    grep -oE '[2]\.[[:digit:]]+\.[[:digit:]]' |
    sort | uniq |
    awk "NR % ${N} == ${IDX}")
- echo "Spark version(s) to build: ${SPARK_VERSIONS_RAW}"
- declare -a SPARK_VERSIONS=(${SPARK_VERSIONS_RAW})

# Iterate across each Spark version
- |-
  for SPARK_VERSION in "${SPARK_VERSIONS[@]}"; do
    echo "Building Spark version: ${SPARK_VERSION}"

    ## Spark only tags
    SPARK_TAG="${SPARK_VERSION}"
    SPARK_MAJMIN_TAG="${SPARK_VERSION:0:3}"

    ## Spark + Java tags
    SPARK_JAVA_MAJOR_TAG="${SPARK_TAG}_${JAVA_MAJOR_TAG}"
    SPARK_MAJMIN_JAVA_MAJOR_TAG="${SPARK_MAJMIN_TAG}_${JAVA_MAJOR_TAG}"

    ## Spark + Dist tags
    SPARK_DIST_TAG="${SPARK_TAG}_${DIST_TAG}"
    SPARK_MAJMIN_DIST_TAG="${SPARK_MAJMIN_TAG}_${DIST_TAG}"

    ## Spark + Java + Dist tags
    SPARK_JAVA_MAJOR_DIST_TAG="${SPARK_TAG}_${JAVA_MAJOR_TAG}_${DIST_TAG}"
    SPARK_MAJMIN_JAVA_MAJOR_DIST_TAG="${SPARK_MAJMIN_TAG}_${JAVA_MAJOR_TAG}_${DIST_TAG}"

    # Docker build
    docker build . -f Dockerfile-${DIST} \
      --build-arg JAVA_MAJOR_VERSION="${JAVA_MAJOR_VERSION}" \
      --build-arg SPARK_VERSION="${SPARK_VERSION}" \
      --build-arg HADOOP_MAJMIN_VERSION="${HADOOP_MAJMIN_VERSION}" \
      -t "${REF_IMAGE}"

    # Docker verification
    docker run --rm -t ${REF_IMAGE} \
      spark-submit --version | grep "${SPARK_VERSION}" > /dev/null

    # Docker re-tagging
    # Spark version is always unique across Nomad version, so all builds can tag and push independently
    if [ "${DIST} = debian" ]; then
      # Non-dist tag is given to Debian
      docker tag "${REF_IMAGE}" "${IMAGE_NAME}:${SPARK_TAG}"
      docker tag "${REF_IMAGE}" "${IMAGE_NAME}:${SPARK_MAJMIN_TAG}"
      docker tag "${REF_IMAGE}" "${IMAGE_NAME}:${SPARK_JAVA_MAJOR_TAG}"
      docker tag "${REF_IMAGE}" "${IMAGE_NAME}:${SPARK_MAJMIN_JAVA_MAJOR_TAG}"
    fi

    # Common tags to all dists
    docker tag "${REF_IMAGE}" "${IMAGE_NAME}:${SPARK_DIST_TAG}"
    docker tag "${REF_IMAGE}" "${IMAGE_NAME}:${SPARK_MAJMIN_DIST_TAG}"
    docker tag "${REF_IMAGE}" "${IMAGE_NAME}:${SPARK_JAVA_MAJOR_DIST_TAG}"
    docker tag "${REF_IMAGE}" "${IMAGE_NAME}:${SPARK_MAJMIN_JAVA_MAJOR_DIST_TAG}"

    # Docker push to registry
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then
      if [ "${DIST} = debian" ]; then
        docker push "${IMAGE_NAME}:${SPARK_TAG}"
        docker push "${IMAGE_NAME}:${SPARK_MAJMIN_TAG}"
        docker push "${IMAGE_NAME}:${SPARK_JAVA_MAJOR_TAG}"
        docker push "${IMAGE_NAME}:${SPARK_MAJMIN_JAVA_MAJOR_TAG}"
      fi

      docker push "${IMAGE_NAME}:${SPARK_DIST_TAG}"
      docker push "${IMAGE_NAME}:${SPARK_MAJMIN_DIST_TAG}"
      docker push "${IMAGE_NAME}:${SPARK_JAVA_MAJOR_DIST_TAG}"
      docker push "${IMAGE_NAME}:${SPARK_MAJMIN_JAVA_MAJOR_DIST_TAG}"
    fi
  done

branches:
  only:
  - master
